<!doctype html>
<html>
<head>
    <title>Couch</title>
</head>
<body>
    <div id="app">
        Temporary thingy, so show this works: 
        <hr/>
        Connected: {{connected}} <br/>
        Network: 
        <select v-model="selectedNetwork">
            <option v-if="networks" v-for="network of keys(networks)">{{network}}</option>
        </select>
        Channel:
        <select v-if="networks[selectedNetwork]" v-model="selectedChannel">
            <option value="">Lobby</option>
            <option v-for="channel of keys(networks[selectedNetwork].channels)">{{channel}}</option>
        </select>
        <br/>
        Selected: {{selectedNetwork}}->{{selectedChannel === "" && selectedNetwork ? "Lobby" : selectedChannel}}
        <br/>
        <ul v-if="selectedNetwork && selectedChannel===''">
            <li v-for="msg of networks[selectedNetwork].lobby">{{localeTime(msg.time)}} | {{msg.nick}} | {{msg.type}} | {{msg.message}}
        </ul>
        <ul v-else-if="selectedNetwork && selectedChannel">
            <li v-for="msg of networks[selectedNetwork].channels[selectedChannel].messages">{{localeTime(msg.time)}} | {{msg.nick}} | {{msg.type}} | {{msg.message}}
        </ul>
        
    </div>

    <script src="bower/vue/dist/vue.js"></script>
    <script src="js/models.js"></script>
    <script src="js/events.js"></script>
    <script src="js/couch.js"></script>
</body>
</html>
